<footer class="bg-gray-800 text-white">
    <div class="max-2-6xl max-auto px-4 py-10 md:py-20">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <div class="space-y-8 xl:col-span-1">
                <h3 class="text-sm font-semibold text-gray-200 tracking-wider uppercase">About Secure Cart</h3>
                <p class="text-white leading-6">
                    Secure Cart is the leading ecommerce marketplace to purchase the finest and loudest university geese and ducks.
                <p>
            </div>

            <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
                <div class="md:grid md:grid-cols-2 md:gap-8">
                    <div>
                        <h3 class="text-sm font-semibold text-gray-200 tracking wider uppercase">Quick Links</h3>
                        <ul class="mt -4 space-y-4">
                            <li>
                                <%= link_to "Home", root_path, class: "text-base leading-6 text-white hover:text-gray-100" %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="mt-8 md:grid md:grid-cols-2 md:gap-8">
                <div>
                    <h3 class="text-sm font-semibold tracking-wider uppercase text-gray-200">Contacts<h3>
                        <ul class="mt-4 space-y-4">
                            <li>
                                <p class="text-base leading-6 text-white">
                                    4 Scarman Road, University of Warwick, Coventry, UK
                                </p>
                            </li>
                            <li>
                                <p class="text-base leading-6 text-white">
                                    Email: admin@securecart.co.uk
                                </p>
                            </li>
                            <li>
                                <p class="text-base leading-6 text-white">
                                    Phone: 07123 456789
                                </p>
                            </li>
                        </ul>
                </div>
            </div>

        </div>
    </div>
</footer>